<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="fc11f9e5-3b20-4188-82ba-0172f198d97f" name="Guillem's Sensitive Squirrel" alias="guillem-s-sensitive-squirrel" type="Starter" color="" url="https://www.s1.umbraco.io/project/guillem-s-sensitive-squirrel" trialExpireDate="2020-05-22T10:39:48">
  <environment type="live" name="Live" id="37e5a817-a455-4589-a246-9bdfb0d6fb2e">https://guillem-s-sensitive-squirrel.s1.umbraco.io</environment>
</environments>